# ── Django ────────────────────────────────────────────────────────────────────
DJANGO_SECRET_KEY=django-insecure-jw=bzi%$t8s7!%9#)_tjwk38h&@e=es@u&gc3alx3kgsx=xz-%
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# ── Oracle Autonomous Database ────────────────────────────────────────────────
ORACLE_DB_NAME=x22871sgbngfv9ky_tp
ORACLE_USER=ADMIN
ORACLE_PASSWORD=Digitalnext#2026
ORACLE_WALLET_DIR=/ruta/absoluta/al/wallet
ORACLE_WALLET_PASSWORD=Digitalnext#2026