# macOS
.DS_Store
Thumbs.db
desktop.ini

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Entorno virtual
venv/
.venv/
env/

# Django
*.sqlite3
staticfiles/
media/

# Variables de entorno — NUNCA subir a Git
.env

# Wallet Oracle — contiene credenciales privadas
wallet/

# IDEs
.vscode/
.idea/